.test{
    font-size: 3em;
    color: aquamarine;
    text-align: center;
    font-family: fantasy;
}
.coucou{
    color: brown;
    font-size: 3em;
    text-align: center;
    font-family: fantasy;
}